body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td {
	margin : 0;
	padding : 0;
}
body, button, input, select, textarea {
	font : 12px / 24px "Hiragino Sans GB",
	"Hiragino Sans GB W3",
	"Microsoft YaHei",
	"Microsoft YaHei",
	simsun,
	"宋体",
	tahoma,
	arial;
}
h1, h2, h3, h4, h5, h6 {
	font-size : 100 % ;
	font-weight:normal;
}
address, cite, em, i {
	font-style:normal;
}
small {
	font-size : 12px;
}
li {
	list-style : none;
}
a {
	text-decoration : none;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-appearance : none;
	-moz-tap-highlight-color : rgba(0, 0, 0, 0);
	-moz-appearance : none;
	-o-tap-highlight-color : rgba(0, 0, 0, 0);
	-o-appearance : none;
	-ms-tap-highlight-color : rgba(0, 0, 0, 0);
	-ms-appearance : none;
	tap-highlight-color : rgba(0, 0, 0, 0);
	appearance : none;
	cursor:pointer;
}
a : hover {
	text-decoration : underline;
}
legend {
	color :  # 000;
}
fieldset, img {
	border : 0;
}
button, input, select, textarea {
	font-size : 100 % ;
	line-height : normal;
}
table {
	border-collapse : collapse;
	border-spacing : 0;
}
input[type="button"], input[type = "submit"], input[type = "reset"], a {
	cursor : pointer;
}
a, input {
	outline : none;
}
.h43{height:43px;}
.clearfix{zoom:1;}
.clearfix:after{display:block; content:'.'; clear:both; line-height:0; visibility:hidden;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.p20{padding-top:20px;}
.fl{float:left}
.fr{float:right;}
.tl{text-align:left;}
.tr{text-align:right}
.tc{text-align:center;}
.y{
	color:#e6702a;
	font-size:1.5em;
}
.w100{width:100%;margin-bottom:10px;}
body,html{
	font-family:"Microsoft YaHei"
}
li{cursor:pointer;}

body{
	font-family:"Microsoft YaHei";
	background:#eee;
}
li{
	list-style:none;
}
.header h2{
	width:100%;
	text-align: center;
	color: #fff;
	position:relative;
	line-height:2.5em;
	font-size:1.4em;
	font-family:"Microsoft YaHei";
	float:left;
}

.header a:first-child{
	position:absolute;
	left:0.5em;
	top:0;
	z-index:99;
}
.header a:last-child{
	position:absolute;
	right:0.5em;
	top:0;
	z-index:99;
}
a.hhhBtn{
	top:0!important;
}
a.hhhBtn i{
	position: relative;
	top: -0.2em;
	height:43px!important;
	display:block;
}
a.phs{
	position:absolute;
	top:0px;
	top:0px;
	right:3em;
}
.header h2.first img{
	vertical-align: top;
    max-width: 100%;
    height: 21px;
    margin-top: 12px;
    display: inline;
}
.header i{
	width:32px!important;
	font-size:2.2em;
	 height:30px;
}

i.bags{
	height: 24px;
	    background: url(../images/bag.png) no-repeat center -17px;
    display: block;
    margin: 10px 0 0 0em;
    background-size: 50% auto;
}
i.bags.on1{
	height: 24px;
	display: block;
	margin: 10px 0 0 0.3em;
	background:url(../images/bag.png) no-repeat 0 5px;
	 background-size: 50% auto;
}
i.phoness{
/* 	background: url(../images/p3.png) no-repeat center -20px;
	background-size: 50% auto;
	display: block;
	margin: 7px 0 0 0em;
 */}
 .phoneNums{
	font-size:1.2em;
	line-height:3.2em;
}
i.phoness.on1{
	background:url(../images/p3.png) no-repeat center 5px;
	background-size: 50% auto;
	 margin: 7px 0 0 0em;
}
.xxx i{
	width:32px!important;
	font-size:2em;
}
#progressBar{
	display:none;
}
h2.titName{
	text-indent:0.5em;
	font-size:1.8em;
	color:#696969;
	font-family:"Microsoft YaHei";
	font-weight:normal;
	margin:10px 0;
}
.titName a{
	color:#696969;
}
p.p_center{
	text-align:center;
	color:#098ac4;
	font-weight:normal;
	font-size:1.25em;
	line-height:3em;

}
#listLis img{
	width:78%;
}
.msBox{
	background:#fff;
	margin:20px 0;
	width:94%;
	margin:0 auto 0 auto;
}
.msBox .content-heading{
	width:100%;
	margin-bottom:16px;
}
.content-heading > h3,.content-heading51 a h3{
	 padding:0.5em 1em 0 1em!important; 
}
.content-heading > p{
	padding-left:1em;
}
.pf1{
	padding-left:1em;
	padding-right:1em;
}
.allTxt1 a,.alltxt2 a{
	display:block;
	overflow:hidden;
}
.msBox .allTxt1 dt,.msBox .allTxt1 dd{
	float:left;
}
.msBox .allTxt1 dd{
	margin-left: 4%!important;
	font-size:1.25em;
}
.msBox .allTxt1 dl,.alltxt2 dl{
	overflow:hidden;
}
.content_indexx{margin-left:0;margin-right:0;}
.allTxt1 dl{
	padding-left:1em;
	padding-right:1em;
}

dl.onn,.list_hd li.onnn,p.onnss,.pageNum a.onnss{
	background:#f6f6f6;
}
dt,dd{overflow:hidden;float:left}
dl,.conts .alltxt3333 dl:last-child{
	border-bottom:1px solid #eee;
	padding:1em 0;
}
.dIcons dl:last-child{border-bottom:none;}
.about{margin:1em auto;background:#fff;border-bottom:1px solid #eee;font-size: 1.25em;}
div.about a{
	font-size:1.2555em;
	text-indent:12px;
	line-height:3em;
	color:#000;
}
.msBox .allTxt1 dd,.alltxt2 dl a:link,.alltxt2 dl a:visited,.alltxt2 dl a:hover,.alltxt2 dl a:active,.xq_111 > p a,.index_gg dd p{
	margin:0;
	color:#888!important;
	font-size:1.25em;
}
.index_gg {
	padding:1em;
}
.allTxt1_mss dd a{
	font-size:1em!important
}
.allTxt1_mss a dt p{
	color:#888;
}
.alltxt3{
	background:#fff;
	padding:4% 3% 0 3%;
}
.alltxt3 dd{
	margin-left:3%;
}
.videoT .alltxt3{
	padding:0;
}

dd strong{
	font-size:1.2em;
	font-weight:normal;
	color:#272727;
}
.alltxt2_dtt dd{
	margin-top:13px;
}
.content_msss dd strong a{
	font-size:1.2em;	
}
.thumb-left dd p{
	color:#888;
}
.alltxt3 .thumb-left img{
	border-radius:0;
}
.alltxt2_cg .thumb-left img{
	width:65px;
	height:65px!important;
}
.alltxt2_cg a p {
    color: #888;
    font-size: 12px;
}
.alltxt3 p.p_center{
	margin-bottom:10px;
}
.dIcons{margin-bottom:16px;}
.dIcons img{
	width:50%;
}
.allTxt1 .dIcon dl dd{
	margin-left:-20px!important;
	width:82%!important;
}
.dIcon dl dd strong,.dIcon dl dd p.lastP{
	font-weight:normal;
}
.dIcon dl dd p,.content-heading p{
	color:#888;
	font-size:1.25em;
}

.content-heading.mr{
	padding-bottom:20px;
	padding-top: 0.5em
}
.pt0{
	padding-top:0!important;
}
.dIcon dl dd p.lastP,.dIcon dl dd strong{
	margin-top:16px;
	color:#272727;
	font-size:1.2em;
}
.dIcon dl dd p.lastP{
	color:#888;
}
span.time{
	color:#fb9031;
}
p.p_add{
	font-size:1em!important;
}
p.p_add.lastP{
	margin-top:0!important;
}
.dd_last{
	margin-top:0.6em;
}
.footer{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9999;
	background: #464646;
	
}
.footer ul{
	overflow: hidden;
	margin-bottom:0!important;
}
.footer li{
	width: 25%;
	text-align: center;
	color: #fff;
	float: left;
	cursor: pointer;
	font-size:1em;
}

.footer p{
	color:#fff;
}
.footer li img{
	max-width: 100%;
	height: 20px;
	display: block;
	margin:6px auto;
}
.footer li.curPage{
	background: #01aef2;
}
.footer li a span{
	display:block;
	width:36px;
	height:22px;
	margin:3px auto 0 auto;
}
.footer li.li_1 a span{
	background:url(../images/ficon1.png) no-repeat center 4px;
	background-size:50% auto;
}
.footer li.curPage.li_1 a span{
	    background: url(../images/ficon1.png) no-repeat center -18px;
    background-size: 50% auto;
} 
.footer li.li_2 a span{
	background:url(../images/ficon2.png) no-repeat center 2px;
	background-size:50% auto;
}
.footer li.curPage.li_2 a span{
	background:url(../images/ficon2.png) no-repeat center -23px;
	background-size:50% auto;
} 
.footer li.li_3 a span{
	background:url(../images/ficon3.png) no-repeat center 2px;
	background-size:50% auto;
}
.footer li.curPage.li_3 a span{
	background:url(../images/ficon3.png) no-repeat center -22px;
	background-size:50% auto;
} 
.footer li.li_4 a span{
	background:url(../images/pg.png) no-repeat center 2px;
	background-size:50% auto;
}
.footer li.curPage.li_4 a span{
	background:url(../images/pg.png) no-repeat center -24px;
	background-size:50% auto;
} 
.footer li.li_5 a span{
	background:url(../images/ficon5.png) no-repeat center 2px;
	background-size:50% auto;
}
.footer li.curPage.li_5 a span{
	background:url(../images/ficon5.png) no-repeat center -22px;
	background-size:50% auto;
} 
/* 首页 */
#listLis li span{
	position:relative;
	display:block;
}
#listLis li em{
	display:block;
	position:absolute;
	z-index:99999;
	left:0;
	top:0;
	border-radius:500px;
	display:none;
}
#listLis li em img{
	border-radius:500px;
}
#listLis li.onnn em{
	display:block;
}
.header-clearsss{height:50px;}

/* 焦点图 */
.slide{float:left;}
.slide img{width:100%;}
/* 首页 */
.w94{width:94%;margin:0 auto;background:#fff;}
.conts .alltxt3333 dd,.alltxt2_cgg dd{margin-top:0.5em;}
.alltxt3333.alltxt3{padding:0!important;}

.conts .alltxt2 dd p span {
    color: #ffb269;
}
.content_index{
	margin-right:0;
	margin-left:0;
}
.pb1{
	padding-bottom:1em;
}
.c_h_index{
	margin: 0 auto 20px auto;
}
/* 美化进度条 */
::-webkit-scrollbar {  
  width: 14px;  
  height: 14px;  
}  

::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 999px;  
  border: 5px solid transparent;  
}  
::-webkit-scrollbar-track {  
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;  
}  

::-webkit-scrollbar-thumb {  
  min-height: 20px;  
  background-clip: content-box;  
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;  
}  

::-webkit-scrollbar-corner {  
  background: transparent;  
}
@media(min-width:768px){
	.borNone dt em{
		display:block;
		width:46px;
		height:44px;
		position:absolute;
		background:url(../images/vv.png) no-repeat;
		top:37%;
		left:30%;
		cursor:pointer;
	}
	.content{
		margin:0 0;
	}
}
@media(min-width:414px){
	dd{
		width:78%!important;
		margin-left:1em!important;
	}
}
@media only screen and (min-width:320px) and (max-width:375px){
	dd{
		width:68%!important;
		margin-left:1em!important;
	}
	.allTxt1_dt dd,.alltxt2_dt dd{
		width:72%!important;
	}
}
@media(max-width:320px){
	.gallery_1.gallery_lx li p{
		font-size:1em!important;
	}
}