
.header .a_r,.phone{
	position: absolute;
	top: 17px;
	right: 0.5em;
	font-size:2em;
	color:#fff;
}
.header .a_r.a_rssss,a.p_phones{
	top:8px;
	position:absolute;
}
a.a_rssss{
	right:0!important;
}
a.p_phones{
	right:1.5em!important;
}
.phone{
	right:2.2em;
}
a.p_phones.p_phones_lt{
	height:100%;
	line-height:43px;
	font-size:1.2em;
	top:0!important;
	right:12px!important;
}
.a_r.a_rssss.a_rssss_lt{
	height:100%!important;
	position:absolute;
	top:0!important;
}
.a_rssss_lt img{
	margin-top:12px;
}
.a_r img,.phone img{
	width:50%;
}
.swiper-slide img{
	width:100%;
	display:block;
}
.tit{
	color:#696969;
	font-size:1.8em;
	line-height:2em;
}

.t1{
	padding:0 1em;
}
.ps p{
	color:#272727;
	font-size:1.7em;
}
.ps img{
	width:65px;
	height:65px;
	display:block;
}
.ps p:first-child{
	border-bottom:1px solid #eee;
	padding-bottom:10px;
}
.ps p:last-child{
	padding-top:10px;
}
.ps span{
	display: block;
    line-height: 3em;
    padding-left: 0.5em;
}
.list li{
	width:25%;
	line-height:43px;
	background:#f4f4f4;
	text-align:center;
	float:left;
	font-size:1.2em;
	color:#696969;
}
.list li.on{
	background:#fff;
	color:#2a2a2a;
}
.comment{
	padding:0 1em;
}
.comment .conts{
	display:none;
}
.conts li a{
	float:left;
	line-height:2em;
	color:#fff;
	font-size:1em;
	color:#888;
	background:#f4f4f4;
	margin:2% 1%;
	width:23%;
	text-align:center;
}
.conts li.on a{
	color:#fff;
	background:#ffb269;
}
.comment li{
	margin:1em 0;
}
.comment_s li{margin:10px!important;}
.comment li h2,.comment li h2 a{
	color:#272727;
		/* font-size:1.2em;
line-height:2em; */
}
.comment li h2{
	font-size:1.4em;
	line-height:2em;
}
.comment li h2 em{
	display:inline-block;
	width:42px;
	color:#fff;
	background:url(../images/icon2.png) no-repeat;
	text-align:center;
	font-size:0.8em;
	height:24px;
	line-height:24px;
}
.comment li p{
	font-size:1.25em;
	color:#999;
}
.name{
	color:#f47419;
}
.comment li i{
	margin:0 0.5em 0 0.8em;
	color:#999;
}
.dele{
	position: relative;
	right: -1em;
	TOP: -1.6em;
}
i.xx img{
	width: 12%;
}
.comment li h2 i{
	margin-top:1em;
}
i.w{
	position: relative;
	top: 4px;
	left: -8px;
}
p.addMore {
    text-align: center;
    font-size: 1.5em;
    color: #999;
    margin: 0 auto;
    height: 48px;
    line-height: 2.5em;
    background: url(../images/loading.gif) no-repeat center center;
	background-size:20px auto;
}
/* 移动端界面-论坛 - 帖子页 */
.header a:first-child span {
    display: block;
    float: left;
	font-size: 0.45em!important;
	color: #fff;
	width: 5em;
	position: absolute;
	top:0px;
	left: 1.5em;
	line-height:43px;
}
.a_r span{
	color:#fff;
	font-size:0.6em!important;
	text-align:center;
	padding:0 0.2em;
	border:1px solid #fff;
	line-height:1.4em;
}
.phones i:first-child{
	    margin-right: 0.6em;
    display: block;
    float: left;
    margin-top: 13px;
    font-size: 0.8em;
	}
.phones.phone{
	right: 0em;
	height: 43px;
	top: 0;
}
.show-navigations{
	margin:8px 0;
}
.header .a_rs{
	right: 3.5em;
    top: 16px;
}
.header span.a_rs span{
	margin:0!important;
	font-size:0.7em!important;
}
.comment2 em{
	color:#098ac5
}
.comment_tie p{
	color:#888!important;
}
.comment_tie p strong{
	color:#272727;
}
.hui{
	color:#999!important;
}
.h124{height:124px;display:none;}
/* share */
.shares{
	background:#eee;
	padding:1rem 0;
	position:fixed;
	bottom: 0;
    left: 0;
    width: 100%;
}
.addList{
	display:none;
}
.h192{
	height:192px;
}
.h70{
	height:70px;
}
.con{
	padding:0 10px;
	margin:0 auto;
}
.shares input{
	background:#fff;
	border:1px solid #d2d2d2;
	line-height:3em;
	width:100%;
}
.share span{
	float:left;
}
.shares .btn{
	width:10%;
	background:#f38e2f;
	color:#fff;
	line-height:2.15em;
	text-align:center;
	font-size:1.5em;
	float:right;
	margin-top:5px;
	min-width:72px;
	
}
.addBtn{
	display:block;
	float:left;
	width: 13%;
	margin-top: 5px;
}
.addBtn img{
	    display: block;
  /*   margin: 0 auto; */
	width:35px;
	height:35px;
}
.text{
	margin-top:5px;
      width: 62.6%;
    display: block;
    float: left;
	/* margin-left: 1%; */
}
.addList li{
	border:1px solid #d2d2d2;
	float:left;
	background:#fff;
	padding: 15px 0 0 0;
    background: #fff;
    width: 22%;
    height: 65px;
    margin: 0 1.2%;
}
.addList li a{
	background-size:30px auto!important;
}
.addList li.li_1 a{
	height:30px;
	overflow:hidden;
	display:block;
	margin:0 auto;
	background:url(../images/xl.png) no-repeat center 0;
}
.addList li p{
	text-align:center;
	font-size:1.25em;
	color:#999;
}
.addList li.li_2 a{
	height:30px;
	overflow:hidden;
	display:block;
	margin:0 auto;
	background:url(../images/tu.png) no-repeat center 0;
}
.addList li.li_3 a{
	height:30px;
	overflow:hidden;
	display:block;
	margin:0 auto;
	background:url(../images/fj.png) no-repeat center 0;
}
.addList li.li_4{
	background:none;
	border:none;
}
.addList li.on{
	background:#ffb269;
	border:1px solid #ffb269;
}
.addList li.on a{
	background-position:center -34px;
}
.addList li.on p{
	color:#fff;
}
.addList li.li_3.on a{
	background-position:center -36px;
}

/* 移动端界面-论坛 */
.list_lt li{
	width:50%;
	background:#d7d7d7;
	color:#999;
	font-size:1.375em;
}
.list_lt li.on{
	background:#fff;
	color:#333;
}
.lt_cont{
	display:none;
}
.lt_cont_ss li{
	margin:0!important;
}
.lt_cont h2{
	color:#696969;
	font-size:1.75em;
}
.tabs{
	border-collapse: collapse;
	width:100%;
}
.tabs td{
	border-collapse:collapse;
	padding:0.5em;
	width:50%;
}
.tabs td span{
	display: block;
    float: left;
}
.tabs td span:first-child{
	width:35%;
}
.tabs td span img{
	display:block;
	width:85%;
}
.tabs td span:last-child{
	color:#272727;
	font-size:1.25em;
	word-break: break-all;
	word-wrap:break-word;
	width:65%;
	margin-top:0.8em;
}
.tabss td{
	border:none;
	
}
.tabss span:first-child{
		width:17%!important;
}
@media(min-width:375px){
	span.mt00{margin-top:0.8em!important;}
}
@media(max-width:320px){
	.tabs td span img{
		display:block;
		width:45px;
		height:45px;
	}
	.tabs td span:last-child{
		font-size:1.25em;
		line-height:1.5em;
	}
	.mt00{
		margin-top:0!important;
	}
	.tabs td span:last-child{
		width:60%;
		margin-left:0.4em;
	}
	.mt0{
		margin-top:0.4em!important;
	}
}
@media(min-width:360px){
	.mt0,.mt00{
		margin-top:0!important;
	}
}
@media(min-width:414px){
	.mt6p{
		margin-top:0.8em!important;
	}
}

/* @好友 */
.ok{
	right:0.5em;
}
.list1 span:first-child {
	width:20%;
	margin-left:1em;
}
.list1 span:first-child img{
	width:96%;
}
.hyname{
	margin:1.5em 0 0 0.6em;
}
.list1 i{
	width:16px;
	height:16px;
	border:1px solid #aaa;
	border-radius:16px;
	margin-top:1.5em;
	margin-right:1em;
}
.list1 li{
	margin-top:1em;
	border-bottom:1px solid #dcdcdc;
}
.list1 i.on{
	background:#ff6b5e;
	border:1px solid #ff6b5e;
}


/* share */
.share{
	width:100%;
	margin:0 auto;
	display:none; 
	position:fixed;
	bottom:0;
	right:0;
	z-index:999999999;
  background-color: rgba(0,0,0,0.6);
}
.shareIcon{text-align:center;}
.gallery.gallery_msxq li img{
	border-radius:0!important;
	display:block;
	margin:0 auto;
}
.gallery_msxq  li {
	width:32.333333%;
}
.gallery_msxq  li p{
	color:#fff;
}
 .shareIcon .d_box{
	margin:1em auto 1em auto;
}
.shareIcon .bdsharebuttonbox a{
	margin:0 8%;
}
.bdshare_dialog_box,.bdshare_popup_box{
	z-index:1000000!important;
}
.bdsharebuttonbox a{
	width:17.33333%!important;
	text-indent:0!important;
	height:102px!important;
}
.bdsharebuttonbox a{
	
	display:block;
}
.bdshare-button-style1-32 a{
	background-position:center 8px!important;
	position:relative;
}
.bdsharebuttonbox a p{
	color:#fff;
	width:100%;
	position:absolute;
	left:0;
	bottom:-8px;
	text-align:center;
}
.bdshare-button-style1-32 .bds_qzone{
	background:url(../images/f5.png) no-repeat 0 0;
	background-size:100% auto;
}
.bdshare-button-style1-32 .bds_tsina{
	background:url(../images/f3.png) no-repeat 0 0;
	background-size:100% auto;
}
.bdshare-button-style1-32 .bds_tqq{
	background:url(../images/f2.png) no-repeat 0 0;
	background-size:100% auto;
}
.bdshare-button-style1-32 .bds_weixin{
	background:url(../images/f1.png) no-repeat 0 0;
	background-size:100% auto;
}
.bdshare-button-style1-32 .bds_sqq{
	background:url(../images/f4.png) no-repeat 0 0;
	background-size:100% auto;
} 
.bdshare-button-style1-32 .bds_copy{
	background:url(../images/f6.png) no-repeat 0 0;
	background-size:100% auto;
} 
.bd_weixin_popup{
	z-index:999999999!important;
}


@media(max-width:320px){
	.text {
		width: 61%;
	}
	.addList li{
		    margin: 0 1.15%;
	}
	.bdsharebuttonbox a {
		width: 17.33333%!important;
		text-indent: 0!important;
		height: 85px!important;
	}
}
@media screen and (min-width:360px) and (max-width:375px) {
	.addList li{
		width: 22%;
	}
}
@media(min-width:414px){
	.text {
		width: 62.6%;
	}
}
