
.gallery{
	width:100%;
	padding:0px;
	background:#fff;
}

.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { list-style: none!important; float: left; width:48%; transition:all 200ms ease;margin-left:5px;}
.gallery li a { display: block; margin: 10px; margin-bottom:5px!important;}
.gallery li img { border-radius:0; display: block; width: 100%; height: auto; }
@media (min-width:768px) and (orientation:landscape){
	.gallery li { list-style: none!important; float: left; /* width: 16.5%; */ transition:all 200ms ease; }
}

@media (min-width:768px) and (orientation:portrait){
	.gallery li { list-style: none!important; float: left; width: 25%; transition:all 200ms ease; }
	.gallery{margin-left:-1%!important;}
}

.square-thumb li img{
	border-radius:0px!important;
}

.round-thumb li img{
	border-radius:0;
}
.gallery_2 img{border-radius:0!important;}
.gallery li a{
	font-size:1.25em;
	text-align:center;
}


